/* Reset */

*{
    box-sizing: border-box;
}

ul{

    list-style: none;
    padding: 0;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

/* Global Styles */

body{
   font-family: 'Roboto', Arial, sans-serif; 
}

.wrapper{
    max-width: 1240px;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
}

.pill{
    padding: .5rem 2rem;
    border-radius: .5rem;
    font-size: 1.125rem;
    color: white;
    font-weight: 700;
    background-color: #3882f6;
}

/* Header */

header, footer{
    padding: .5rem 0;
    background-color:#1f2937 ;
    color: white;
}

header .wrapper, footer .wrapper{
    align-items: center;
}

header .wrapper{
    justify-content: space-between;
}

header ul{
    display: flex;
    gap: 1.5rem;
    font-size: 1.125rem;
    
}

header .logo{
    font-size: 1.5rem;
    font-weight: 900;
    color: #f9faf8;
}

/* Footer */

footer .wrapper{
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 400; 
}

/* Hero Banner */

.hero-banner{
    padding: 5rem 0;
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
}

.hero-banner .wrapper{
    align-items: center;
    gap: 3rem;
}

.hero-banner .rh-col, .hero-banner .lh-col{
    flex: 1;
}

.hero-banner__title{
    font-size: 3rem;
    font-weight: 900;
}

.hero-banner__sub-text{
    font-size: 1.125rem;
    color: #e5e7eb;

}

.hero-image{
    width: 100%;
}

/* Info Section */

.info-section .wrapper{
    padding-top: 3rem;
    padding-bottom: 5rem;
    flex-direction: column;
    text-align: center;
}

.info-section h2{
    margin-bottom: 2.5rem;
    color: #1f2937;
    font-size: 2.5rem;
    font-weight: 900;
}

.info-section .card__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.info-section .card{
    width: 160px;
}

.info-section .card__image{
    width: 160px;
    height: 160px;
    border: 2px solid #3882f6;
    border-radius: 1rem;
}

.info-section .card__sub-text{
    color: 
}